.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: seagreen;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;

}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: wheat;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

body {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #ebebeb;
    margin: 0 auto;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: seagreen;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


.calendar {
    background-color: #fff;
    border-radius: 1rem;
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 50px;
}

.calendar .month {
    background-color: seagreen;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.calendar .day{
    opacity: 0.3;
    text-align: center;
    font-size: 1.2rem;
}

.calendar .date {
    text-align: center;
    margin: 1rem 0;
    font-size: 5rem;
    font-weight: bold;
}

.calendar .year {
    opacity: 0.3;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


.gameDiv {
    border: 3px solid;
    border-radius: 25px;
    padding: 20px 0;
    background-color: white;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.choice{
    line-height: 30px;
    width: 150px;
}


.dargAndDrop {
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 300px;
}

#right-box {
    margin: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    gap: 20px;
    align-items: center;
}

#left-box {
    margin: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    gap: 20px;
    align-items: center;
}

.list {
    background-color: seagreen;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    background-color: seagreen;
    height: 100%;
    padding: 20px;
    margin: 50px 20px;
}

.box {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    aspect-ratio: 1;
    width: 50%;
}

.seper {
    color: white;
}

.time {
    font-size: 100px;
    font-weight: bold;
}